<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    
    </div>

    <div class="social-links">
      Hey, you scrolled all the way to the bottom! <br>

      Maybe you are interested in my more <a href="/personal" class="button">personal blog posts</a>, too.<br>
      
      Or reach out to me on social media: <br>
      <br>
      {%- include social.html -%}
    </div>

  </div>

</footer>