---
layout: base
mathjax: true
---

<div class="home">

  {{ content }}

  {% if site.paginate %}
    {% assign posts = paginator.posts | sort: "date" | reverse %}
  {% else %}
    {% assign posts = site.posts | sort: "date" | reverse %}
  {% endif %}

  <!-- New tag section -->
  <div class="tag-container">
    {% assign all_tags = "" | split: "" %}
    {% for post in posts %}
      {% if post.categories contains "personal" %}
        {% assign all_tags = all_tags | concat: post.tags | uniq %}
      {% endif %}
    {% endfor %}

    {% for tag in all_tags %}
      {% assign count = 0 %}
      {% for post in posts %}
        {% if post.categories contains "personal" and post.tags contains tag %}
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
      <button class="tag-bubble" data-tag="{{ tag }}">
        {{ tag }} ({{ count }})
      </button>
    {% endfor %}
  </div>

  <!-- Define an empty array to store star counts -->
  {% assign star_counts = "" | split: "|" %}

  <!-- Fetch and collect the number of stars from the GitHub repos -->
  {%- for post in posts -%}
    {%- if post.github -%}

      <!-- Fetch the number of stars from the GitHub repo -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
            var repo = $('.github-stars[data-repo="{{ post.github }}"]');
            $.getJSON('https://api.github.com/repos/' + repo.data('repo'), function(data){
                var star_count = data.stargazers_count;
                repo.find('.star-count').text(star_count);

                // Append the star count to the Liquid array
                {% assign star_counts = star_counts | push: star_count %}
            });
        });
      </script>
    {%- endif -%}
  {%- endfor -%}


  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      {% if post.categories contains "personal" %}

        <a href="{{ post.url | relative_url }}" class="box post-item" data-tags="{{ post.tags | join: ',' }}">
          <li class="post-box">
            <div class="post-box-img">
              {%- if post.image -%}
                  <img src="{{ post.image }}" alt="{{ post.title }}" class="post-image">
              {%- endif -%}
            </div>
            <div class="post-box-txt">
              
              <h4 class="post-title">
                {{ post.title | escape }}
              </h4>

              {%- if post.description -%}
              <p class="post-summary">
                {{ post.description | markdownify }}
              </p>
              {%- endif -%}

              <span class="post-meta">{{ post.date | date: date_format }}</span>

              <!-- Add word count and read time -->
              {% assign words = post.content | number_of_words %}
              {% assign read_time = words | divided_by: 200 | at_least: 1 %}
              <span class="post-meta"> • {{ words }} words • {{ read_time }} min read</span>
                
              {%- if post.published -%}
                <span class="post-meta"> • Peer-reviewed & published in </span> <span class="post-published">{{ post.published }}</span>
              {%- endif -%}

              {%- if post.github -%}
              <span class="post-meta"> • </span>
                <span class="github-stars" data-repo={{ post.github }}>
                  <span class="material-symbols-rounded">star</span><span class="star-count">Loading...</span>

                </span>
                <span class="post-meta">on GitHub</span>
              {%- endif -%}

              {%- if post.note -%}
              <span class="post-meta"> • </span>
                <span class="material-symbols-outlined">sticky_note_2</span>
                <span class="post-note">{{ post.note }}</span>
              {%- endif -%}

            </div>
          </li>
        </a>
        
      {%- endif %}
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tagButtons = document.querySelectorAll('.tag-bubble');
    const postItems = document.querySelectorAll('.post-item');
    let activeTags = new Set();

    tagButtons.forEach(button => {
      button.addEventListener('click', function() {
        const tag = this.getAttribute('data-tag');
        if (activeTags.has(tag)) {
          activeTags.delete(tag);
          this.classList.remove('active');
        } else {
          activeTags.add(tag);
          this.classList.add('active');
        }
        filterPosts();
      });
    });

    function filterPosts() {
      postItems.forEach(item => {
        const postTags = item.getAttribute('data-tags').split(',');
        if (activeTags.size === 0 || [...activeTags].every(tag => postTags.includes(tag))) {
          item.style.display = '';
        } else {
          item.style.display = 'none';
        }
      });
    }
  });
</script>
