<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body onload="document.body.style.opacity='1'" class="startBody">

        <h1 class="startTitle">Quentin Wach</h1>
        <h2 class="startSubtitle">MSc in Applied Physics</h2>
    
        <div class="startLinks">
            <a href="/about" class="startLink">About</a>
            <a href="/blog" class="startLink">Blog</a>
            <a href="/publications" class="startLink">Publications</a>
        </div>

  </body>

</html>